
  <div class="green_color"><b>Fuel Gas Definition</b></div>

  <div class="border">
    <div id="fg_vector_Descr">Fuel Gas Composition</div>
    {{form_comb.fg_vector(id="fg_vector", size="50")}} <br />
    <div class="alert" id="fg_vector_Alert">alert_text</div>
  
    <div>Choose how you want to define the Fuelgas</div>
    {{form_comb.fg_selector(id="fg_selector")}} <br />
    <div class="alert" id="fg_selector_Alert">alert_text</div>
  </div>

  <div class="border">
    <div>Fuel Gas Conditions</div>

    <div class="contHor">
      <div class="box">
        <div>Pressure[Pa]</div>
        {{form_comb.fg_p1(id = "fg_p1")}}
        <div class="alert" id="fg_p1_Alert">alert_text</div>
      </div>

      <div class="box">
        <div>Temperature[K]</div>
        {{form_comb.fg_t1(id = "fg_t1")}}
        <div class="alert" id="fg_t1_Alert">alert_text</div>
      </div>
    </div>
  </div>
