
  <div class="green_color"><b>Calculation</b></div>

  <div class="border">
    <div id="calc_fgFlowOrHeat_Descr">----------</div>
    {{form_comb.calc_fgFlowOrHeat(id="calc_fgFlowOrHeat")}} <br />
    <div class="alert" id="calc_fgFlowOrHeat_Alert">alert_text</div>

    <div>Choose between Fuel Gas Flow and Fired Heat</div>
    {{form_comb.calc_selector1(id = "calc_selector1")}}
    <div class="alert" id="calc_selector1_Alert">alert_text</div>
  </div>


  <div class="border">
    <div id="calc_oxgasFlowOrLamb_Descr">----------</div>
    {{form_comb.calc_oxgasFlowOrLamb(id="calc_oxgasFlowOrLamb")}} <br />
    <div class="alert" id="calc_oxgasFlowOrLamb_Alert">alert_text</div>
  
    <div>Choose between Oxidation Gas Flow and Oxygen Excess</div>
    {{form_comb.calc_selector2(id = "calc_selector2")}}
    <div class="alert" id="calc_selector2_Alert">alert_text</div>
  </div>
