<div class="border_red">
    Example Fuel Gas[mass%]: </br> H2 = 80.00 mass%, CH4 = 18.00 mass%, C2H6 = 2.00 mass% </br> 0, 0, 0, 0, 0, 0, 0, 80, 18, 0, 2, 0 </br> </br>
    Example Fuel Gas[mole%]: </br> H2 = 97.09 mole%, CH4 = 2.75 mole%, C2H6 = 0.16 mole% </br> 0, 0, 0, 0, 0, 0, 0, 97.09, 2.75, 0, 0.16, 0  </br></br>
    Example Oxidation Gas dry[mass%]: </br>N2 = 75.5 mass%, Ar = 1.3 mass%, O2 = 23.2 mass%</br> 0, 0, 75.5, 1.3, 23.2, 0, 0, 0, 0, 0, 0, 0</br></br>
    Example Oxidation Gas dry[mole%]: </br>N2 = 78.1 mole%, Ar = 0.9 mole%, O2 = 21.0 mole%</br>  0, 0, 78.1, 0.9, 21.0, 0, 0, 0, 0, 0, 0, 0 </br></br>
  </div>